.mail-controller{
    display: flex;
    margin-top: 10px;
    margin-right: 70px;
    justify-content: flex-end;
    align-items: center;
}

.mail-controller .btn{
    margin: 0 5px;
    width: 75px;
    height: 40px;
}
