.mail-edit-box{
    margin: 10px auto;
    min-height: 50%;
    width: 95%;
}



.mail-edit-box .mail-items .item{
    margin: 5px 0;
    color: #000;
}

.mail-edit-box .mail-items .item > span{
    display: inline-block;
    width: 50px;
    vertical-align: top;
}

.mail-edit-box .mail-items .item > :is(input, textarea){
    margin-left: 10px;
    width: 95%;
}

.mail-edit-box .mail-items .item > textarea{
    min-height: 70vh;
}

.mail-edit-box .mail-controller{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mail-edit-box .mail-controller .btn{
    margin: 0 5px;
    width: 75px;
    height: 40px;
}

.mail-edit-box .mail-items .info-item{
    padding: 0 100px;
    font-size: 12px;
    color: #1e5494;
}

.mail-edit-box .mail-items .info-item > span{
    margin: 0 5px;
    cursor: default;
}

.mail-edit-box .mail-items .info-item .outbox{
    position: relative;
    cursor: pointer;
}

.mail-edit-box .mail-items .info-item .outbox ul{
    display: none;
    position: absolute;
    top: 23px;
    left: 5px;
    padding: 5px 0;
    max-height: 30vh;
    overflow-y: scroll;
    background-color: #eff5fb;
}

.mail-edit-box .mail-items .info-item .outbox:hover ul{
    display: block;
}

.outbox .fill-box{
    display: none;
    position: absolute;
    top: 14px;
    left: 5px;
    width: 70px;
    height: 10px;
    background-color: #ffffff;
}

.outbox:hover .fill-box{
    display: block;
}

.triangle-up{
    position: absolute;
    top: -10px;
    left: 40px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #eff5fb;
}

.mail-edit-box .mail-items .info-item .outbox ul li{
    padding: 2px 8px;
}

.mail-edit-box .mail-items .info-item .outbox ul li:hover{
    background-color: #d6d6d6;
}